<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Does it work?{% endblock %}</title>
    {% if description %}<meta name="description" content="{{description}}"/>{% endif %}

    {% if site.environment === 'production' %}
      <!-- INLINE CSS-->
    {% else %}
      <link rel="stylesheet" href="/styles.css">
    {% endif %}

    {% block head %}{% endblock %}
  </head>
  <body class="font-sans flex flex-col justify-between text-center h-screen">
    {% include 'partials/header.njk' %}

    {% block content %}
      {{ content | safe }}
    {% endblock %}

    {% include 'partials/footer.njk' %}

    {% set js %}
      {% include "js/global.js" %}
    {% endset %}
    <script>
      {% if site.environment === 'production' %}
        {{ js | jsmin | safe }}
      {% else %}
        {{ js | safe }}
      {% endif %}
    </script>
  </body>
</html>