---
layout: default
---

<div class="p-6">
  <h1 class="text-5xl">🌭</h1>
  <h2 class="text-2xl">We Out Here!</h2>
  <p>Loaded this dog in <span id="loadtime">0.00</span> seconds and built on {{ page.date | readableDate }}.</p>
</div>